In [2]:
import pandas as pd

In [3]:

df = pd.read_parquet('enriched_vacations_v2.parquet')

###Readme
***Тут у нас две задачи.***
1. Предсказать факт отпуска

Будет ли отпуск у сотрудника в определенный период (например, месяц/квартал).

2. Предсказать длительность (regression)

In [4]:
# Смотрим на первые строки и пытаемся понять, что за датасет
df.head()

,Назначение,Дата начала,Дата окончания,Вид отпуска,Кол-во календарных дней,Количество исходных записей,Индексы источники,Год начала,Месяц начала,employee_id,...,school_children_count,is_married,birth_month,age_years,has_irregular_schedule,extra_days_irregular,месяц,is_summer_month,school_summer_interaction,manager_avoids_summer
0,EMP_4B023C8E,2022-05-23,2022-05-27,Ежегодный основной оплачиваемый отпуск,5,1.0,[0],2022.0,5.0,EMP_4B023C8E,...,0.0,1.0,11.0,62.149213,0.0,0.0,5,0,0.0,0.0
1,EMP_4B023C8E,2022-08-09,2022-08-31,Ежегодный основной оплачиваемый отпуск,23,1.0,[1],2022.0,8.0,EMP_4B023C8E,...,0.0,1.0,11.0,62.149213,0.0,0.0,8,1,0.0,0.0
2,EMP_4B023C8E,2023-05-29,2023-06-09,Ежегодный основной оплачиваемый отпуск,12,1.0,[2],2023.0,5.0,EMP_4B023C8E,...,0.0,1.0,11.0,62.149213,0.0,0.0,5,0,0.0,0.0
3,EMP_4B023C8E,2023-08-21,2023-09-05,Ежегодный основной оплачиваемый отпуск,16,1.0,[3],2023.0,8.0,EMP_4B023C8E,...,0.0,1.0,11.0,62.149213,0.0,0.0,8,1,0.0,0.0
4,EMP_4B023C8E,2023-09-06,2023-09-08,Ежегодный основной оплачиваемый отпуск,3,1.0,[4],2023.0,9.0,EMP_4B023C8E,...,0.0,1.0,11.0,62.149213,0.0,0.0,9,0,0.0,0.0

In [5]:

df.describe()

,Дата начала,Кол-во календарных дней,Количество исходных записей,Год начала,Месяц начала,days_available,tenure_months,is_new_employee,department_size,is_manager,...,school_children_count,is_married,birth_month,age_years,has_irregular_schedule,extra_days_irregular,месяц,is_summer_month,school_summer_interaction,manager_avoids_summer
count,1208701,1.208701e+06,981418.000000,981418.000000,981418.000000,1.208701e+06,1.208701e+06,1.208701e+06,1.208701e+06,1.208701e+06,...,1.208701e+06,1.208701e+06,1.208701e+06,1.208701e+06,1.208701e+06,1.208701e+06,1.208701e+06,1.208701e+06,1.208701e+06,1.208701e+06
mean,2023-11-29 00:57:57.155724288,1.182845e+01,1.026540,2022.982071,7.159629,2.946079e+01,1.487048e+01,2.176874e-01,2.783730e+01,1.425431e-01,...,3.462701e-01,4.950993e-01,4.706444e+00,3.372693e+01,1.765565e-01,5.296860e-01,7.138866e+00,3.916949e-01,1.090543e-01,8.942079e-02
min,2020-07-04 00:00:00,0.000000e+00,1.000000,2020.000000,1.000000,2.800000e+01,-9.395532e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2022-11-06 00:00:00,3.000000e+00,1.000000,2022.000000,5.000000,2.800000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2023-10-11 00:00:00,7.000000e+00,1.000000,2023.000000,7.000000,2.800000e+01,8.048620e+00,0.000000e+00,1.500000e+01,0.000000e+00,...,0.000000e+00,0.000000e+00,4.000000e+00,4.031211e+01,0.000000e+00,0.000000e+00,7.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,2024-09-23 00:00:00,1.400000e+01,1.000000,2024.000000,9.000000,2.800000e+01,3.104468e+01,0.000000e+00,3.900000e+01,0.000000e+00,...,1.000000e+00,1.000000e+00,8.000000e+00,5.137577e+01,0.000000e+00,0.000000e+00,9.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
max,2025-12-31 00:00:00,5.780000e+02,8.000000,2024.000000,12.000000,5.500000e+01,1.650460e+02,1.000000e+00,2.660000e+02,1.000000e+00,...,8.000000e+00,1.000000e+00,1.200000e+01,8.063244e+01,1.000000e+00,8.000000e+00,1.200000e+01,1.000000e+00,1.000000e+00,1.000000e+00
std,NaN,3.686575e+01,0.198402,0.828068,2.735768,4.153138e+00,2.146478e+01,4.126739e-01,3.792699e+01,3.496065e-01,...,6.523862e-01,4.999762e-01,4.080671e+00,2.222574e+01,3.812931e-01,1.143951e+00,2.744957e+00,4.881293e-01,3.117074e-01,2.853503e-01

In [6]:
df.shape
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1208701 entries, 0 to 1208700
Data columns (total 31 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   Назначение                   1208701 non-null  object
 1   Дата начала                  1208701 non-null  datetime64[ns]
 2   Дата окончания               1208701 non-null  object
 3   Вид отпуска                  1208701 non-null  object
 4   Кол-во календарных дней      1208701 non-null  int64
 5   Количество исходных записей  981418 non-null   float64
 6   Индексы источники            981418 non-null   object
 7   Год начала                   981418 non-null   float64
 8   Месяц начала                 981418 non-null   float64
 9   employee_id                  1208701 non-null  object
 10  days_available               1208701 non-null  float64
 11  tenure_months                1208701 non-null  float64
 12  is_new_employee              1208701 non-null  float64
 13  department                   1208701 non-null  object
 14  department_size              1208701 non-null  float64
 15  is_manager                   1208701 non-null  float64
 16  region                       1208701 non-null  object
 17  is_north_region              1208701 non-null  float64
 18  north_bonus_days             1208701 non-null  float64
 19  has_school_children          1208701 non-null  float64
 20  children_count               1208701 non-null  float64
 21  school_children_count        1208701 non-null  float64
 22  is_married                   1208701 non-null  float64
 23  birth_month                  1208701 non-null  float64
 24  age_years                    1208701 non-null  float64
 25  has_irregular_schedule       1208701 non-null  float64
 26  extra_days_irregular         1208701 non-null  float64
 27  месяц                        1208701 non-null  int32
 28  is_summer_month              1208701 non-null  int64
 29  school_summer_interaction    1208701 non-null  float64
 30  manager_avoids_summer        1208701 non-null  float64
dtypes: datetime64[ns](1), float64(20), int32(1), int64(2), object(7)
memory usage: 281.3+ MB

In [7]:
df['employee_id'].nunique()

126367

In [8]:
df.isna().sum()
# сильно значимых пропусков для нас нет

Назначение                          0
Дата начала                         0
Дата окончания                      0
Вид отпуска                         0
Кол-во календарных дней             0
Количество исходных записей    227283
Индексы источники              227283
Год начала                     227283
Месяц начала                   227283
employee_id                         0
days_available                      0
tenure_months                       0
is_new_employee                     0
department                          0
department_size                     0
is_manager                          0
region                              0
is_north_region                     0
north_bonus_days                    0
has_school_children                 0
children_count                      0
school_children_count               0
is_married                          0
birth_month                         0
age_years                           0
has_irregular_schedule              0
extra_days_irregular                0
месяц                               0
is_summer_month                     0
school_summer_interaction           0
manager_avoids_summer               0
dtype: int64

In [9]:
#годы датасета с 2020 по  конец 2025
print("Минимальная дата:", df['Дата начала'].min())
print("Максимальная дата:", df['Дата начала'].max())
print("Количество лет:", df['Дата начала'].dt.year.nunique())
print("Годы в датасете:", sorted(df['Дата начала'].dt.year.unique()))

Минимальная дата: 2020-07-04 00:00:00
Максимальная дата: 2025-12-31 00:00:00
Количество лет: 6
Годы в датасете: [np.int32(2020), np.int32(2021), np.int32(2022), np.int32(2023), np.int32(2024), np.int32(2025)]

***Важно***

Очень странно, что в 22 году такой большой скачок кол-ва отпусков, скорее именно с этой даты начали интенсивно собирать данные по отпускам

In [10]:
df.groupby('employee_id')['Дата начала'].min().dt.year.value_counts().sort_index()

Дата начала
2020      484
2021     3020
2022    89980
2023    11245
2024    13197
2025     8441
Name: count, dtype: int64

Смущает стаж -8 месяцев

In [11]:
df_2022_first = df[df['Дата начала'].dt.year == 2022]
df_2022_first['tenure_months'].describe()

count    333469.000000
mean         13.492766
std          21.189336
min          -8.935611
25%           0.000000
50%           0.000000
75%          27.036794
max         165.045992
Name: tenure_months, dtype: float64

У нас **14%** сотрудников имеют стаж отрицательный, я сначала *заменила на 0*, но поняла, что 14% - значимая доля, поэтому **заменяю на медиану по сотрудникам такого возраста**

Первым делом создаю **колонку-флаг**, чтобы запомнить где у нас были некорректные данные по стажу (пропуски и отриц значения)

А затем заменяю пропуски по стажу глобальной медианой по корректным данным  после удаления отрицательного стажа.

Также я проверила колонки на выбросы: у нас максимальный возраст сотрудников 80, у летних месяцев есть только (6,7,8, NaN), нет кол-ва детей меньше 0, а north_bonus_days хранит константу 24 дня или 0.
ВСЕ ОК!

In [12]:
#Создаю флаг ДО любых замен
df['tenure_was_invalid'] = (
    (df['tenure_months'] < 0) |
    (df['tenure_months'].isna())
).astype(int)

#Считаю медиану по возрасту (только по корректным)
age_median = (
    df[df['tenure_months'] >= 0]
    .groupby('age_years')['tenure_months']
    .median()
)

# Заменяю отрицательные
mask_negative = df['tenure_months'] < 0
df.loc[mask_negative, 'tenure_months'] = (
    df.loc[mask_negative, 'age_years']
      .map(age_median)
)

#Считаю глобальную медиану для оставшихся NaN
global_median = df['tenure_months'].median()
df['tenure_months'] = df['tenure_months'].fillna(global_median)

In [13]:
#Теперь пропусков нет, но есть нули, что нормально
print(df['tenure_months'].isna().sum())
print((df['tenure_months'] == 0).sum())

0
326669

In [14]:
(df['tenure_months'] < 0).sum()

np.int64(0)

In [15]:
df['tenure_negative_flag'] = (df['tenure_months'] < 0).astype(int)
df['tenure_months'] = df['tenure_months'].clip(lower=0)

Превращаю тип данных даты из строки в дату и разбиваю на колонки по годам и месяцам, чтобы суметь потсроить лаги и создать конечную необходимую матрицу сотрудник-признак для построения предсказаний.

In [16]:
df['Дата начала'] = pd.to_datetime(df['Дата начала'])

df['year'] = df['Дата начала'].dt.year
df['month'] = df['Дата начала'].dt.month

Считаю границы дат , по которым у нас есть исторические данные и строю ранжировку по ВСЕМ месяцев, а не только по тем, когда были отпуски, чтобы предсказание было полным.

In [17]:
min_date = df['Дата начала'].min()
max_date = df['Дата начала'].max()

all_months = pd.date_range(
    start=min_date,
    end=max_date,
    freq='MS'   # Month Start
)

calendar_df = pd.DataFrame({
    'year': all_months.year,
    'month': all_months.month
})

Беру уникальные айдишки сотрудников и создаю декартово произведение , чтобы получить вид (каждый сотрудник × каждый месяц), затем соединяю эти таблицы cross join методом, чтобы получить полный датасет.

In [18]:
employees = df[['employee_id']].drop_duplicates()

In [19]:
employees['key'] = 1
calendar_df['key'] = 1

employee_month = (
    employees
    .merge(calendar_df, on='key')
    .drop('key', axis=1)
)

In [20]:
vacations = (
    df.groupby(['employee_id', 'year', 'month'], as_index=False)
      .agg(
          vacation_days=('Кол-во календарных дней', 'sum'),
          vacations_cnt=('Кол-во календарных дней', 'size'),
          start_min=('Дата начала', 'min')   # пригодится для регрессии даты начала
      )
)

In [21]:
ml_df = employee_month.merge(
    vacations,
    on=['employee_id', 'year', 'month'],
    how='left'
)

ml_df['vacation_flag'] = ml_df['vacation_days'].notna().astype('int8')
ml_df['vacation_days'] = ml_df['vacation_days'].fillna(0).astype('int16')
ml_df['vacations_cnt'] = ml_df['vacations_cnt'].fillna(0).astype('int8')

Таким образом из таблицы, где была информация по отпускам, я получила таблицу информации по сотрудникам с начала периода сбора данных по КАЖДОМУ месяцу.

In [86]:
ml_df.head()

,employee_id,year,month,vacation_days,vacations_cnt,start_min,vacation_flag
0,EMP_4B023C8E,2020,8,0,0,NaT,0
1,EMP_4B023C8E,2020,9,0,0,NaT,0
2,EMP_4B023C8E,2020,10,0,0,NaT,0
3,EMP_4B023C8E,2020,11,0,0,NaT,0
4,EMP_4B023C8E,2020,12,0,0,NaT,0

In [22]:
ml_df['is_summer_month'] = ml_df['month'].isin([6,7,8]).astype('int8')

Берём признаки сотрудника из df, но только из периода до 2025 (чтобы не подглядывать в тест); также я не стала сюда добавлять колонку по отрицательному стажу, так как он будет линейно кореллировать с 'tenure_invalid' и вызывать шум.

In [23]:

df_static_src = df[df['year'] <= 2024].sort_values('Дата начала')

static_cols = [
    'employee_id',
    'department', 'department_size', 'region',
    'is_manager', 'manager_avoids_summer',
    'is_north_region', 'north_bonus_days',
    'age_years', 'birth_month', 'is_married',
    'children_count', 'school_children_count', 'has_school_children',
    'has_irregular_schedule', 'extra_days_irregular',
    'days_available',
    'tenure_months', 'is_new_employee', 'tenure_was_invalid',
]

static_df = (
    df_static_src.groupby('employee_id', as_index=False)[static_cols[1:]].last()
)

In [24]:
(static_df['tenure_months'] < 0).sum()
static_df['tenure_months'].isna().sum()

np.int64(0)

In [25]:
ml_df = ml_df.merge(static_df, on='employee_id', how='left')

In [26]:
ml_df.head()

,employee_id,year,month,vacation_days,vacations_cnt,start_min,vacation_flag,is_summer_month,department,department_size,...,is_married,children_count,school_children_count,has_school_children,has_irregular_schedule,extra_days_irregular,days_available,tenure_months,is_new_employee,tenure_was_invalid
0,EMP_4B023C8E,2020,8,0,0,NaT,0,1,DEPT_STATION_1EB2,19.0,...,1.0,0.0,0.0,0.0,0.0,0.0,28.0,37.516426,1.0,1.0
1,EMP_4B023C8E,2020,9,0,0,NaT,0,0,DEPT_STATION_1EB2,19.0,...,1.0,0.0,0.0,0.0,0.0,0.0,28.0,37.516426,1.0,1.0
2,EMP_4B023C8E,2020,10,0,0,NaT,0,0,DEPT_STATION_1EB2,19.0,...,1.0,0.0,0.0,0.0,0.0,0.0,28.0,37.516426,1.0,1.0
3,EMP_4B023C8E,2020,11,0,0,NaT,0,0,DEPT_STATION_1EB2,19.0,...,1.0,0.0,0.0,0.0,0.0,0.0,28.0,37.516426,1.0,1.0
4,EMP_4B023C8E,2020,12,0,0,NaT,0,0,DEPT_STATION_1EB2,19.0,...,1.0,0.0,0.0,0.0,0.0,0.0,28.0,37.516426,1.0,1.0

**Лаги:**
Для начала сортирую датасет по возрастанию дат, а затем добавляю shift, что смещает мои лаги на месяц во избежание утечки, и теперь мы считаем сколько раз был отпуск у сотрудника благодаряю лагам за ПРЕДЫДУЩИЙ период с окнами: 3 месяца, 6 месяцев.

In [27]:
ml_df = ml_df.sort_values(['employee_id', 'year', 'month'])
#shift сдвигает месяцы и считает за ПРЕДЫДУЩИЕ флаги, чтоюы не было утечки.
ml_df['vac_flag_lag1'] = ml_df.groupby('employee_id')['vacation_flag'].shift(1).fillna(0).astype('int8')
ml_df['vac_days_lag1'] = ml_df.groupby('employee_id')['vacation_days'].shift(1).fillna(0).astype('int16')

ml_df['vac_flag_last3'] = (
    ml_df.groupby('employee_id')['vacation_flag']
         .shift(1)
         .rolling(3)
         .sum()
         .reset_index(level=0, drop=True)
         .fillna(0)
         .astype('int8')
)

ml_df['vac_flag_last6'] = (
    ml_df.groupby('employee_id')['vacation_flag']
         .shift(1)
         .rolling(6)
         .sum()
         .reset_index(level=0, drop=True)
         .fillna(0)
         .astype('int8')
)

Анализ целевой переменной показал, что в 2020–2021 годах данные об отпусках были существенно неполными (в 80 раз меньше зарегистрированных отпусков по сравнению с 2022 годом). В связи с этим данные за 2020–2021 были исключены из обучающей выборки

In [28]:
ml_df.groupby('year')['vacation_flag'].mean()

year
2020    0.000701
2021    0.001992
2022    0.159373
2023    0.154535
2024    0.154247
2025    0.138047
Name: vacation_flag, dtype: float64

In [29]:
ml_df.groupby('year')['vacation_flag'].sum()

year
2020       443
2021      3020
2022    241674
2023    234337
2024    233901
2025    209335
Name: vacation_flag, dtype: int64

In [30]:
#теперь данные распределяются лучше, ибо до этого в train у меня был target mean = 0,019.
train_df = ml_df[(ml_df['year'] >= 2022) & (ml_df['year'] <= 2023)].copy()
valid_df = ml_df[ml_df['year'] == 2024].copy()
test_df  = ml_df[ml_df['year'] == 2025].copy()

print("Train:", train_df.shape)
print("Valid:", valid_df.shape)
print("Test :", test_df.shape)

print("Target mean:")
print("Train:", train_df['vacation_flag'].mean())
print("Valid:", valid_df['vacation_flag'].mean())
print("Test :", test_df['vacation_flag'].mean())

Train: (3032808, 31)
Valid: (1516404, 31)
Test : (1516404, 31)
Target mean:
Train: 0.15695388563997456
Valid: 0.15424715313333387
Test : 0.1380469848404515

Дисбаланс классов нужно учитывать, в данной ситуации accuracy бесполезно использовать ,поэтому метрики следующие: recall/precision, ROC-AUC, PR-AUC (кол-во на положительном классе)

In [31]:
train_df['vacation_flag'].value_counts(normalize=True)

vacation_flag
0    0.843046
1    0.156954
Name: proportion, dtype: float64

In [32]:
#удаляю колонки во избежании утечки данных
drop_cols = [
    'employee_id',
    'vacation_flag',
    'vacation_days',
    'start_min',
    'vac_days_lag1',
    'vacations_cnt'
]
#предпоследнюю во избежании лин корелляции

In [33]:
features = [col for col in train_df.columns if col not in drop_cols]

In [34]:
X_train = train_df[features]
y_train = train_df['vacation_flag']

X_valid = valid_df[features]
y_valid = valid_df['vacation_flag']

X_test  = test_df[features]
y_test  = test_df['vacation_flag']

In [35]:
cat_cols = X_train.select_dtypes(include=['object']).columns.tolist()
cat_cols

['department', 'region']

In [38]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3032808 entries, 7506282 to 3527200
Data columns (total 25 columns):
 #   Column                  Dtype
---  ------                  -----
 0   year                    int32
 1   month                   int32
 2   is_summer_month         int8
 3   department              object
 4   department_size         float64
 5   region                  object
 6   is_manager              float64
 7   manager_avoids_summer   float64
 8   is_north_region         float64
 9   north_bonus_days        float64
 10  age_years               float64
 11  birth_month             float64
 12  is_married              float64
 13  children_count          float64
 14  school_children_count   float64
 15  has_school_children     float64
 16  has_irregular_schedule  float64
 17  extra_days_irregular    float64
 18  days_available          float64
 19  tenure_months           float64
 20  is_new_employee         float64
 21  tenure_was_invalid      float64
 22  vac_flag_lag1           int8
 23  vac_flag_last3          int8
 24  vac_flag_last6          int8
dtypes: float64(17), int32(2), int8(4), object(2)
memory usage: 497.5+ MB

In [40]:
X_train.isna().mean().sort_values(ascending=False)

department_size           0.066798
manager_avoids_summer     0.066798
department                0.066798
is_manager                0.066798
region                    0.066798
is_north_region           0.066798
birth_month               0.066798
age_years                 0.066798
north_bonus_days          0.066798
extra_days_irregular      0.066798
days_available            0.066798
tenure_months             0.066798
is_married                0.066798
children_count            0.066798
school_children_count     0.066798
has_school_children       0.066798
has_irregular_schedule    0.066798
tenure_was_invalid        0.066798
is_new_employee           0.066798
year                      0.000000
month                     0.000000
is_summer_month           0.000000
vac_flag_lag1             0.000000
vac_flag_last3            0.000000
vac_flag_last6            0.000000
dtype: float64

In [59]:
X_train = train_df[features].copy()
X_valid = valid_df[features].copy()
X_test  = test_df[features].copy()

for col in ['department', 'region']:
  X_train[col] = X_train[col].fillna('missing')
  X_test[col] = X_test[col].fillna('missing')
  X_valid[col] = X_valid[col].fillna('missing')

In [60]:
binary_cols = [
    'is_manager',
    'manager_avoids_summer',
    'is_north_region',
    'is_married',
    'has_school_children',
    'has_irregular_schedule',
    'is_new_employee',
    'tenure_was_invalid'
]

for col in binary_cols:
    train_df[col] = train_df[col].fillna(0)
    test_df[col]  = test_df[col].fillna(0)

Что касается заполнение числовых признаков, было бы глупо заполнить все медианой, поэтому я разделила их на части.

In [61]:
X_train['birth_month'] = X_train['birth_month'].fillna(6)
X_train['north_bonus_days'] = X_train['north_bonus_days'].fillna(0)

In [62]:
continuous_cols = [
    'department_size',
    'age_years',
    'tenure_months'
]
count_cols = [
    'children_count',
    'school_children_count',
    'extra_days_irregular'
]

In [63]:
#Заполнение непрерывных признаков медианой (только по train)

medians = {}

for col in continuous_cols:
    if col in X_train.columns:
        med = X_train[col].median()
        medians[col] = med

        X_train[col] = X_train[col].fillna(med)
        X_valid[col] = X_valid[col].fillna(med)
        X_test[col]  = X_test[col].fillna(med)

#Заполнение счётчиков нулями

for col in count_cols:
    if col in X_train.columns:
        X_train[col] = X_train[col].fillna(0)
        X_valid[col] = X_valid[col].fillna(0)
        X_test[col]  = X_test[col].fillna(0)

#Проверка
print("NaN в X_train:", X_train[continuous_cols + count_cols].isna().sum().sum())
print("NaN в X_valid:", X_valid[continuous_cols + count_cols].isna().sum().sum())
print("NaN в X_test :", X_test[continuous_cols + count_cols].isna().sum().sum())

NaN в X_train: 0
NaN в X_valid: 0
NaN в X_test : 0

In [64]:
X_train.isna().sum()

year                           0
month                          0
is_summer_month                0
department                     0
department_size                0
region                         0
is_manager                     0
manager_avoids_summer          0
is_north_region                0
north_bonus_days               0
age_years                      0
birth_month                    0
is_married                     0
children_count                 0
school_children_count          0
has_school_children            0
has_irregular_schedule         0
extra_days_irregular           0
days_available            202584
tenure_months                  0
is_new_employee                0
tenure_was_invalid             0
vac_flag_lag1                  0
vac_flag_last3                 0
vac_flag_last6                 0
dtype: int64

In [65]:
median_days = X_train['days_available'].median()

X_train['days_available'] = X_train['days_available'].fillna(median_days)
X_valid['days_available'] = X_valid['days_available'].fillna(median_days)
X_test['days_available']  = X_test['days_available'].fillna(median_days)

In [66]:
for df_ in [X_train, X_valid, X_test]:
    df_['days_available_missing'] = df_['days_available'].isna().astype('int8')

In [70]:
for df_ in [ X_valid, X_test]:
    for c in ['department','region']:
        df_[c] = df_[c].astype('string').fillna('missing')

In [71]:
binary_cols = [
    'is_manager','manager_avoids_summer','is_north_region','is_married',
    'has_school_children','has_irregular_schedule','is_new_employee','tenure_was_invalid'
]
for df_ in [ X_valid, X_test]:
    for c in binary_cols:
        df_[c] = df_[c].fillna(0).astype('int8')

In [72]:
median_days = X_train['days_available'].median()

for df_ in [X_valid, X_test]:
    df_['days_available_missing'] = df_['days_available'].isna().astype('int8')
    df_['days_available'] = df_['days_available'].fillna(median_days)

In [75]:
for df_ in [X_valid, X_test]:
    df_['north_bonus_days'] = df_['north_bonus_days'].fillna(0)

In [76]:
birth_mode = X_train['birth_month'].mode().iloc[0]

for df_ in [X_train, X_valid, X_test]:
    df_['birth_month'] = df_['birth_month'].fillna(birth_mode)

In [79]:
X_train.isna().sum()

year                      0
month                     0
is_summer_month           0
department                0
department_size           0
region                    0
is_manager                0
manager_avoids_summer     0
is_north_region           0
north_bonus_days          0
age_years                 0
birth_month               0
is_married                0
children_count            0
school_children_count     0
has_school_children       0
has_irregular_schedule    0
extra_days_irregular      0
days_available            0
tenure_months             0
is_new_employee           0
tenure_was_invalid        0
vac_flag_lag1             0
vac_flag_last3            0
vac_flag_last6            0
days_available_missing    0
dtype: int64

In [81]:
from google.colab import files

In [82]:
X_train.to_parquet("X_train.parquet", index=False)
y_train.to_frame().to_parquet("y_train.parquet", index=False)

X_valid.to_parquet("X_valid.parquet", index=False)
y_valid.to_frame().to_parquet("y_valid.parquet", index=False)

X_test.to_parquet("X_test.parquet", index=False)
y_test.to_frame().to_parquet("y_test.parquet", index=False)

In [85]:


files.download("X_train.parquet")

In [86]:
files.download("y_train.parquet")

In [87]:
files.download("X_valid.parquet")

In [88]:
files.download("y_valid.parquet")

In [89]:
files.download("X_test.parquet")

In [90]:
files.download("y_test.parquet")

У меня закончилась ОЗУ и вычислительные единицы , поэтому запускаю обучение в другой ветке