In [ ]:
import pandas as pd

In [ ]:
# Открыть файл Parquet
df = pd.read_parquet('enriched_vacations_v2.parquet')

**Readme**
Тут у нас три задачи.
1) Предсказать факт отпуска
Будет ли отпуск у сотрудника в периоде (например, месяц/квартал).

2) Предсказать дату начала (Regression / time-to-event)

3) Предсказать длительность (regression)

In [ ]:
# Показать первые строки
df.head()

,Назначение,Дата начала,Дата окончания,Вид отпуска,Кол-во календарных дней,Количество исходных записей,Индексы источники,Год начала,Месяц начала,employee_id,...,school_children_count,is_married,birth_month,age_years,has_irregular_schedule,extra_days_irregular,месяц,is_summer_month,school_summer_interaction,manager_avoids_summer
0,EMP_4B023C8E,2022-05-23,2022-05-27,Ежегодный основной оплачиваемый отпуск,5,1.0,[0],2022.0,5.0,EMP_4B023C8E,...,0.0,1.0,11.0,62.149213,0.0,0.0,5,0,0.0,0.0
1,EMP_4B023C8E,2022-08-09,2022-08-31,Ежегодный основной оплачиваемый отпуск,23,1.0,[1],2022.0,8.0,EMP_4B023C8E,...,0.0,1.0,11.0,62.149213,0.0,0.0,8,1,0.0,0.0
2,EMP_4B023C8E,2023-05-29,2023-06-09,Ежегодный основной оплачиваемый отпуск,12,1.0,[2],2023.0,5.0,EMP_4B023C8E,...,0.0,1.0,11.0,62.149213,0.0,0.0,5,0,0.0,0.0
3,EMP_4B023C8E,2023-08-21,2023-09-05,Ежегодный основной оплачиваемый отпуск,16,1.0,[3],2023.0,8.0,EMP_4B023C8E,...,0.0,1.0,11.0,62.149213,0.0,0.0,8,1,0.0,0.0
4,EMP_4B023C8E,2023-09-06,2023-09-08,Ежегодный основной оплачиваемый отпуск,3,1.0,[4],2023.0,9.0,EMP_4B023C8E,...,0.0,1.0,11.0,62.149213,0.0,0.0,9,0,0.0,0.0

In [ ]:

df.describe()

,Дата начала,Кол-во календарных дней,Количество исходных записей,Год начала,Месяц начала,days_available,tenure_months,is_new_employee,department_size,is_manager,...,school_children_count,is_married,birth_month,age_years,has_irregular_schedule,extra_days_irregular,месяц,is_summer_month,school_summer_interaction,manager_avoids_summer
count,1208701,1.208701e+06,981418.000000,981418.000000,981418.000000,1.208701e+06,1.208701e+06,1.208701e+06,1.208701e+06,1.208701e+06,...,1.208701e+06,1.208701e+06,1.208701e+06,1.208701e+06,1.208701e+06,1.208701e+06,1.208701e+06,1.208701e+06,1.208701e+06,1.208701e+06
mean,2023-11-29 00:57:57.155724288,1.182845e+01,1.026540,2022.982071,7.159629,2.946079e+01,1.487048e+01,2.176874e-01,2.783730e+01,1.425431e-01,...,3.462701e-01,4.950993e-01,4.706444e+00,3.372693e+01,1.765565e-01,5.296860e-01,7.138866e+00,3.916949e-01,1.090543e-01,8.942079e-02
min,2020-07-04 00:00:00,0.000000e+00,1.000000,2020.000000,1.000000,2.800000e+01,-9.395532e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2022-11-06 00:00:00,3.000000e+00,1.000000,2022.000000,5.000000,2.800000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2023-10-11 00:00:00,7.000000e+00,1.000000,2023.000000,7.000000,2.800000e+01,8.048620e+00,0.000000e+00,1.500000e+01,0.000000e+00,...,0.000000e+00,0.000000e+00,4.000000e+00,4.031211e+01,0.000000e+00,0.000000e+00,7.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,2024-09-23 00:00:00,1.400000e+01,1.000000,2024.000000,9.000000,2.800000e+01,3.104468e+01,0.000000e+00,3.900000e+01,0.000000e+00,...,1.000000e+00,1.000000e+00,8.000000e+00,5.137577e+01,0.000000e+00,0.000000e+00,9.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
max,2025-12-31 00:00:00,5.780000e+02,8.000000,2024.000000,12.000000,5.500000e+01,1.650460e+02,1.000000e+00,2.660000e+02,1.000000e+00,...,8.000000e+00,1.000000e+00,1.200000e+01,8.063244e+01,1.000000e+00,8.000000e+00,1.200000e+01,1.000000e+00,1.000000e+00,1.000000e+00
std,NaN,3.686575e+01,0.198402,0.828068,2.735768,4.153138e+00,2.146478e+01,4.126739e-01,3.792699e+01,3.496065e-01,...,6.523862e-01,4.999762e-01,4.080671e+00,2.222574e+01,3.812931e-01,1.143951e+00,2.744957e+00,4.881293e-01,3.117074e-01,2.853503e-01

In [ ]:
df.shape
df.head()
df.info()

(1208701, 31)

In [ ]:
df['employee_id'].nunique()

126367

In [ ]:
df.isna().sum()
# сильно значимых пропусков для нас нет

Назначение                          0
Дата начала                         0
Дата окончания                      0
Вид отпуска                         0
Кол-во календарных дней             0
Количество исходных записей    227283
Индексы источники              227283
Год начала                     227283
Месяц начала                   227283
employee_id                         0
days_available                      0
tenure_months                       0
is_new_employee                     0
department                          0
department_size                     0
is_manager                          0
region                              0
is_north_region                     0
north_bonus_days                    0
has_school_children                 0
children_count                      0
school_children_count               0
is_married                          0
birth_month                         0
age_years                           0
has_irregular_schedule              0
extra_days_irregular                0
месяц                               0
is_summer_month                     0
school_summer_interaction           0
manager_avoids_summer               0
dtype: int64

In [ ]:
print("Минимальная дата:", df['Дата начала'].min())
print("Максимальная дата:", df['Дата начала'].max())
print("Количество лет:", df['Дата начала'].dt.year.nunique())
print("Годы в датасете:", sorted(df['Дата начала'].dt.year.unique()))
#годы датасета с 2020 по  конец 2025

Минимальная дата: 2020-07-04 00:00:00
Максимальная дата: 2025-12-31 00:00:00
Количество лет: 6
Годы в датасете: [np.int32(2020), np.int32(2021), np.int32(2022), np.int32(2023), np.int32(2024), np.int32(2025)]

Очень странно, что в 22 году такой большой скачок кол-ва отпусков, скорее именно с этой даты начали интенсивно собирать данные по отпускам

In [ ]:
df.groupby('employee_id')['Дата начала'].min().dt.year.value_counts().sort_index()

Дата начала
2020      484
2021     3020
2022    89980
2023    11245
2024    13197
2025     8441
Name: count, dtype: int64

Смущает стаж -8 месяцев

In [ ]:
df_2022_first = df[df['Дата начала'].dt.year == 2022]
df_2022_first['tenure_months'].describe()

count    333469.000000
mean         13.492766
std          21.189336
min          -8.935611
25%           0.000000
50%           0.000000
75%          27.036794
max         165.045992
Name: tenure_months, dtype: float64

У нас 14% сотрудников имеют стаж отрицательный, поэтому заменяю на 0 , чтобы не было шума.

In [ ]:
(df['tenure_months'] < 0).mean()

np.float64(0.14318760388218427)

In [ ]:
df['tenure_negative_flag'] = (df['tenure_months'] < 0).astype(int)
df['tenure_months'] = df['tenure_months'].clip(lower=0)

У нас максимальный возраст сотрудников 80, у летних месяцев есть только (6,7,8, NaN), нет кол-ва детей меньше 0, но north_bonus_days хранит константу 24 дня или 0.

In [ ]:
df['Дата начала'] = pd.to_datetime(df['Дата начала'])

df['year'] = df['Дата начала'].dt.year
df['month'] = df['Дата начала'].dt.month

In [ ]:
min_date = df['Дата начала'].min()
max_date = df['Дата начала'].max()

all_months = pd.date_range(
    start=min_date,
    end=max_date,
    freq='MS'   # Month Start
)

calendar_df = pd.DataFrame({
    'year': all_months.year,
    'month': all_months.month
})

In [ ]:
df['Дата начала'] = pd.to_datetime(df['Дата начала'])

df['year'] = df['Дата начала'].dt.year
df['month'] = df['Дата начала'].dt.month

In [ ]:
min_date = df['Дата начала'].min()
max_date = df['Дата начала'].max()

all_months = pd.date_range(
    start=min_date,
    end=max_date,
    freq='MS'   # Month Start
)

calendar_df = pd.DataFrame({
    'year': all_months.year,
    'month': all_months.month
})

In [ ]:
employees = df[['employee_id']].drop_duplicates()

In [ ]:
employees['key'] = 1
calendar_df['key'] = 1

employee_month = (
    employees
    .merge(calendar_df, on='key')
    .drop('key', axis=1)
)

In [ ]:
df['year'] = df['Дата начала'].dt.year
df['month'] = df['Дата начала'].dt.month

vacations = (
    df.groupby(['employee_id', 'year', 'month'], as_index=False)
      .agg(
          vacation_days=('Кол-во календарных дней', 'sum'),
          vacations_cnt=('Кол-во календарных дней', 'size'),
          start_min=('Дата начала', 'min')   # пригодится для регрессии даты начала
      )
)

In [ ]:
ml_df = employee_month.merge(
    vacations,
    on=['employee_id', 'year', 'month'],
    how='left'
)

ml_df['vacation_flag'] = ml_df['vacation_days'].notna().astype('int8')
ml_df['vacation_days'] = ml_df['vacation_days'].fillna(0).astype('int16')
ml_df['vacations_cnt'] = ml_df['vacations_cnt'].fillna(0).astype('int8')

In [ ]:
ml_df['is_summer_month'] = ml_df['month'].isin([6,7,8]).astype('int8')

In [ ]:
# берём признаки сотрудника из df, но только из периода до 2025 (чтобы не подглядывать в тест)
df_static_src = df[df['year'] <= 2024].sort_values('Дата начала')

static_cols = [
    'employee_id',
    'department', 'department_size', 'region',
    'is_manager', 'manager_avoids_summer',
    'is_north_region', 'north_bonus_days',
    'age_years', 'birth_month', 'is_married',
    'children_count', 'school_children_count', 'has_school_children',
    'has_irregular_schedule', 'extra_days_irregular',
    'days_available',
    'tenure_months', 'is_new_employee'
]

static_df = (
    df_static_src.groupby('employee_id', as_index=False)[static_cols[1:]].last()
)

In [ ]:
static_df['tenure_negative_flag'] = (static_df['tenure_months'] < 0).astype('int8')
static_df['tenure_months'] = static_df['tenure_months'].clip(lower=0)

In [ ]:
ml_df = ml_df.merge(static_df, on='employee_id', how='left')

**Лаги:**
отпуск в прошлом месяце

количество отпусков за 3 месяца

количество отпусков за 6 месяцев

дни отпуска в прошлом году

In [ ]:
ml_df = ml_df.sort_values(['employee_id', 'year', 'month'])
#shift сдвигает месяцы и считает за ПРЕДЫДУЩИЕ флаги, чтоюы не было утечки.
ml_df['vac_flag_lag1'] = ml_df.groupby('employee_id')['vacation_flag'].shift(1).fillna(0).astype('int8')
ml_df['vac_days_lag1'] = ml_df.groupby('employee_id')['vacation_days'].shift(1).fillna(0).astype('int16')

ml_df['vac_flag_last3'] = (
    ml_df.groupby('employee_id')['vacation_flag']
         .shift(1)
         .rolling(3)
         .sum()
         .reset_index(level=0, drop=True)
         .fillna(0)
         .astype('int8')
)

ml_df['vac_flag_last6'] = (
    ml_df.groupby('employee_id')['vacation_flag']
         .shift(1)
         .rolling(6)
         .sum()
         .reset_index(level=0, drop=True)
         .fillna(0)
         .astype('int8')
)

In [ ]:
train_df = ml_df[ml_df['year'] <= 2024].copy()
test_df  = ml_df[ml_df['year'] == 2025].copy()

print(train_df.shape, test_df.shape)
print(train_df['vacation_flag'].mean(), test_df['vacation_flag'].mean())

(6697451, 31) (1516404, 31)
0.10651440376346165 0.1380469848404515

In [ ]:
ml_df.shape

(8213855, 31)

In [ ]:
df.shape

(1208701, 33)

In [ ]:
train_df.shape

(6697451, 31)

In [ ]:
test_df.shape

(1516404, 31)

In [ ]:
train_df['vacation_flag'].value_counts(normalize=True)
#дисбаланс классов нужно учитывать
#в данной ситуайии accuracy бесполезно использовать

vacation_flag
0    0.893486
1    0.106514
Name: proportion, dtype: float64

In [ ]:
drop_cols = [
    'employee_id',
    'vacation_flag',
    'vacation_days',
    'start_min',
    'vac_days_lag1'
]
#последнюю во избежании лин корелляции
features = [col for col in train_df.columns if col not in drop_cols]

In [ ]:
X_train = train_df[features]
y_train = train_df['vacation_flag']

X_test  = test_df[features]
y_test  = test_df['vacation_flag']

In [ ]:
cat_cols = X_train.select_dtypes(include=['object']).columns.tolist()
cat_cols

['department', 'region']

In [ ]:
from catboost import CatBoostClassifier

In [ ]:
!pip install catboost

Collecting catboost
  Downloading catboost-1.2.8-cp312-cp312-manylinux2014_x86_64.whl.metadata (1.2 kB)
Requirement already satisfied: graphviz in /usr/local/lib/python3.12/dist-packages (from catboost) (0.21)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.12/dist-packages (from catboost) (3.10.0)
Requirement already satisfied: numpy<3.0,>=1.16.0 in /usr/local/lib/python3.12/dist-packages (from catboost) (2.0.2)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.12/dist-packages (from catboost) (2.2.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.12/dist-packages (from catboost) (1.16.3)
Requirement already satisfied: plotly in /usr/local/lib/python3.12/dist-packages (from catboost) (5.24.1)
Requirement already satisfied: six in /usr/local/lib/python3.12/dist-packages (from catboost) (1.17.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas>=0.24->catboost) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas>=0.24->catboost) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas>=0.24->catboost) (2025.3)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib->catboost) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/dist-packages (from matplotlib->catboost) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib->catboost) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib->catboost) (1.4.9)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib->catboost) (26.0)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.12/dist-packages (from matplotlib->catboost) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib->catboost) (3.3.2)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.12/dist-packages (from plotly->catboost) (9.1.3)
Downloading catboost-1.2.8-cp312-cp312-manylinux2014_x86_64.whl (99.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 99.2/99.2 MB 7.2 MB/s eta 0:00:00
Installing collected packages: catboost
Successfully installed catboost-1.2.8

In [ ]:
model = CatBoostClassifier(
    iterations=300,
    depth=6,
    learning_rate=0.05,
    loss_function='Logloss',
    eval_metric='AUC',
    verbose=100
)

model.fit(
    X_train, y_train,
    eval_set=(X_test, y_test),
    cat_features=cat_cols
)

CatBoostError: Invalid type for cat_feature[non-default value idx=212,feature_idx=4]=nan : cat_features must be integer or string, real number values and NaN values should be converted to string.

In [ ]:
missing_train = train_df.isna().sum()
missing_train = missing_train[missing_train > 0].sort_values(ascending=False)

missing_train

start_min                 5984076
department                 447373
department_size            447373
region                     447373
is_manager                 447373
manager_avoids_summer      447373
is_north_region            447373
north_bonus_days           447373
age_years                  447373
birth_month                447373
is_married                 447373
children_count             447373
school_children_count      447373
has_school_children        447373
has_irregular_schedule     447373
extra_days_irregular       447373
days_available             447373
tenure_months              447373
is_new_employee            447373
tenure_negative_flag       447373
dtype: int64

In [ ]:
missing_percent = (train_df.isna().mean() * 100)
missing_percent = missing_percent[missing_percent > 0].sort_values(ascending=False)

missing_percent

start_min                 89.34856
department                 6.67975
department_size            6.67975
region                     6.67975
is_manager                 6.67975
manager_avoids_summer      6.67975
is_north_region            6.67975
north_bonus_days           6.67975
age_years                  6.67975
birth_month                6.67975
is_married                 6.67975
children_count             6.67975
school_children_count      6.67975
has_school_children        6.67975
has_irregular_schedule     6.67975
extra_days_irregular       6.67975
days_available             6.67975
tenure_months              6.67975
is_new_employee            6.67975
tenure_negative_flag       6.67975
dtype: float64

In [ ]:
for col in ['department', 'region']:
    train_df[col] = train_df[col].fillna('missing')
    test_df[col]  = test_df[col].fillna('missing')

In [ ]:
binary_cols = [
    'is_manager',
    'manager_avoids_summer',
    'is_north_region',
    'is_married',
    'has_school_children',
    'has_irregular_schedule',
    'is_new_employee',
    'tenure_negative_flag'
]

for col in binary_cols:
    train_df[col] = train_df[col].fillna(0)
    test_df[col]  = test_df[col].fillna(0)

In [ ]:
num_cols_to_fill = [
    'department_size',
    'north_bonus_days',
    'age_years',
    'birth_month',
    'children_count',
    'school_children_count',
    'extra_days_irregular',
    'days_available',
    'tenure_months'
]

for col in num_cols_to_fill:
    median_value = train_df[col].median()
    train_df[col] = train_df[col].fillna(median_value)
    test_df[col]  = test_df[col].fillna(median_value)

In [ ]:
train_df = train_df.drop(columns=['start_min'])
test_df  = test_df.drop(columns=['start_min'])

In [ ]:
train_df.isna().sum().sum()

np.int64(0)

In [ ]:
model = CatBoostClassifier(
    iterations=300,
    depth=6,
    learning_rate=0.05,
    loss_function='Logloss',
    eval_metric='AUC',
    verbose=100
)

model.fit(
    X_train, y_train,
    eval_set=(X_test, y_test),
    cat_features=cat_cols
)

ValueError: 'employee_id' is not in list

In [ ]:
cat_cols = X_train.select_dtypes(include=['object']).columns.tolist()
cat_cols

['department', 'region']

In [ ]:
model.fit(
    X_train, y_train,
    eval_set=(X_test, y_test),
    cat_features=cat_cols
)

CatBoostError: Invalid type for cat_feature[non-default value idx=212,feature_idx=4]=nan : cat_features must be integer or string, real number values and NaN values should be converted to string.

In [ ]:
# 1) Заполняем пропуски в department и region (категории)
for c in ['department', 'region']:
    if c in X_train.columns:
        X_train[c] = X_train[c].astype('string').fillna('missing')
        X_test[c]  = X_test[c].astype('string').fillna('missing')

# 2) Проверка
print("NaN department train:", X_train['department'].isna().sum())
print("NaN department test :", X_test['department'].isna().sum())
print("Unique sample:", X_train['department'].dropna().unique()[:5])

NaN department train: 0
NaN department test : 0
Unique sample: <StringArray>
['DEPT_E8D5EC', 'DEPT_E44251', 'DEPT_UNKNOWN', 'DEPT_D0C254', 'missing']
Length: 5, dtype: string

In [ ]:
cat_cols = X_train.select_dtypes(include=['object', 'string']).columns.tolist()
print("cat_cols:", cat_cols)

print("NaN in cat:", X_train[cat_cols].isna().sum().sum())
print("NaN in all:", X_train.isna().sum().sum())

cat_cols: ['department', 'region']
NaN in cat: 0
NaN in all: 7605341

In [ ]:
num_cols = [c for c in X_train.columns if c not in cat_cols]

nan_num = X_train[num_cols].isna().sum().sort_values(ascending=False)
nan_num[nan_num > 0].head(20)

is_north_region           447373
manager_avoids_summer     447373
is_manager                447373
department_size           447373
is_married                447373
birth_month               447373
age_years                 447373
north_bonus_days          447373
extra_days_irregular      447373
days_available            447373
tenure_months             447373
is_new_employee           447373
children_count            447373
school_children_count     447373
has_school_children       447373
has_irregular_schedule    447373
tenure_negative_flag      447373
dtype: int64

In [ ]:
# бинарные и флаги
binary_cols = [
    'is_north_region','manager_avoids_summer','is_manager',
    'is_married','has_school_children','has_irregular_schedule',
    'is_new_employee','tenure_negative_flag'
]

for col in binary_cols:
    X_train[col] = X_train[col].fillna(0)
    X_test[col]  = X_test[col].fillna(0)

In [ ]:
# количественные
numeric_cols = [
    'department_size','birth_month','age_years',
    'north_bonus_days','extra_days_irregular',
    'days_available','tenure_months',
    'children_count','school_children_count'
]

for col in numeric_cols:
    median_val = X_train[col].median()
    X_train[col] = X_train[col].fillna(median_val)
    X_test[col]  = X_test[col].fillna(median_val)

In [ ]:
X_test.isna().sum().sum()

np.int64(0)

In [ ]:
train_df.to_parquet('train_df.parquet', index=False)
test_df.to_parquet('test_df.parquet', index=False)

In [ ]:
from google.colab import files

files.download('train_df.parquet')
files.download('test_df.parquet')

In [ ]:
from catboost import CatBoostClassifier

model = CatBoostClassifier(
    iterations=300,
    depth=6,
    learning_rate=0.05,
    loss_function='Logloss',
    eval_metric='AUC',
    verbose=100
)

model.fit(
    X_train,
    y_train,
    eval_set=(X_test, y_test),
    cat_features=cat_cols
)

NameError: name 'X_train' is not defined

In [ ]:
train_sample = train_df.sample(1_000_000, random_state=42)

X_train = train_sample[features]
y_train = train_sample['vacation_flag']

NameError: name 'train_df' is not defined

In [ ]:
train_df.to_parquet('train_df.parquet', index=False)
test_df.to_parquet('test_df.parquet', index=False)

!ls -lh train_df.parquet test_df.parquet

-rw-r--r-- 1 root root 5.3M Feb 13 20:59 test_df.parquet
-rw-r--r-- 1 root root  12M Feb 13 20:59 train_df.parquet

In [ ]:
from google.colab import files
files.download('train_df.parquet')
files.download('test_df.parquet')